/*
    stlye.css
*/

/* 
    import fonts from - https://fonts.google.com/ 	
    @import url(https://fonts.googleapis.com/css?family=Roboto);
	font-family: 'Roboto', sans-serif;
*/

/* colors */

.rosybrown {
    background-color: rosybrown;
}

.lavender {
    background-color: #E2E4F6;
}

.yesgreen {
    background-color: #A1CCA5;
}

.thatblue {
    background-color: #C1DFF0;
}

.a {
    color: white;
}

.c {
    color: #585123;
}

.green {
    background-color: #35605A;
}

.d {
    color: #453643;
    (308, 22, 27);
}

.pale {
    background-color: #BBD1EA;
    (218, 73, 6);
}

.e {
    color: #04080F;
}

.lightyellow {
    background-color: #F3DE8A;
}

.black {
    background-color: #04080F
}

.lp {
    color: #C6D4FF
}

.gray {
    color: #6B818C
}

.pink {
    background-color: #EFA9AE
}

.taupe {
    background-color: #785964
}

.yeet {
    background-color: #D5C7BC
}

.ly {
    background-color: #C6D4FF
}

.r {
    color: crimson
}

/*  ========================= */

/* body */
body {
    font-family: Playfair Display, serif;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.left2 {
    text-align: left
}


.center2 {
    margin: auto;
    width: 50%;
    padding: 10px;
}

figcaption {
    text-align: center
}


.double {
    border-style: double;
    border-width: 5px;
}

.left {
    position: absolute;
    right: 0px;
    width: 300px;
}

.responsive {
    max-width: auto;
    height: auto;
}


ul.a {
    list-style-type: circle;
}

div.a {
    padding: 20px;
}

div.b {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

div.c {
    padding-top: 50px;
    padding-bottom: 50px;
}

div.d {
    padding-bottom: 400px;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.f {
    padding-bottom: 20px;
}

.g {
    padding-left: 20px;
    padding-top: 20px;
    text-align: inherit
}

.z {
    padding-top: 10px;
}

.h {
    padding-left: 10px;
    padding-right: 10px;
}

.k {
    text-align: center;
}

.card-columns {
    display: inline-block;
}

.h3 {
    padding-top: 10px;
}

.h4 {
    font-size: 20px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* =========================================*/

/* fonts and sizes */

h1 {
    font-size: 500%;
}

.font {
    font-size: 19px;
}

.fontt {
    font-size: 15px;
}

.fa {
    font-family: Didot, serif;
    font-size: 20px
}

.fb {
    font-family: Didot, sans-serif;
    font-size: 18px;
}

.ye {
    font-size: 45px;
}

.et {
    font-size: 30px;
}

.la {
    font-family: Didot, sans-serif;
    font-size: 50px;
}

.t {
    font-family: Didot, sans-serif;
}

/* =========================================*/

/* text alignments */

h1 {
    text-align: center
}

h4 {
    text-align: center
}

.i {
    text-align: center
}

.j {
    text-align: left
}

h2 {
    text-align: center;
    font-size: 50px
}

.card2 {
    background-color: #C6D4FF
}

.l {
    font-family: Playfair Display, serif;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* =========================================*/

/*================buttons!!!====================================================*/
.btn {
    border: 2px solid #FFFFFF;
    background-color: #C1DFF0 !important;
    color: #000807;

}


.btn:hover {
    border: 2px solid #000807;
    background-color: #9BA7C0 !important;
    color: #ffffff;
}

.btn-scuba {
    border: 2px solid #000807;
    background-color: #C6D4FF !important;
    color: #000807;
}

.btn-scuba:hover {
    border: 2px solid #000807;
    background-color: #C6D4FF !important;
    color: #FFFFFF
}

/*================parallax stuff====================================================*/
.divingmain {

    /* The image used */
    background-image: url(".../images/dmain");

    /* Cover the whole section (page) */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1.0;

    /* Set a specific minimum height */
    min-height: 500px;
}

.indexmain,
.oceanfloor,
.beachsand,
.pacific,
.atlantic,
.indian,
.divingmain,
.conmain,
.antarctic,
.arctic {
    position: relative;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*set the bg-image for each specific section */
.indexmain {
    background-image: url("../images/indexmain.jpg");
    min-height: 800px;
    /* set just for this example */
}

.beachsand {
    background-image: url("../images/beachsand.jpg");
    min-height: 800px;
    /* set just for this example */
}

.pacific {
    background-image: url("../images/pacific.jpg");
    min-height: 800px;
    /* set just for this example */
}

.atlantic {
    background-image: url("../images/atlantic.jpg");
    min-height: 800px;
    /* set just for this example */
}

.indian {
    background-image: url("../images/indian.jpg");
    min-height: 800px;
    /* set just for this example */
}

.antarctic {
    background-image: url("../images/antarctic.jpg");
    min-height: 800px;
    /* set just for this example */
}

.arctic {
    background-image: url("../images/arctic.jpg");
    min-height: 800px;
    /* set just for this example */
}

.oceanfloor {
    background-image: url("../images/oceanfloor.jpg");
    min-height: 800px;
    /* set just for this example */
}

.divingmain {
    background-image: url("../images/dmain.jpg");
    min-height: 500px;
    /* set just for this example */
}

.conmain {
    background-image: url("../images/conmain.jpg")
}

/* ========================================================= */

/* --------------------------------------------------------- */
/*  IC Brand Fonts and Colors */

@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Crimson Text', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.ic-primary-font {
    font-family: 'Crimson Text', serif;
}

.ic-secondary-font {
    font-family: 'Open Sans', sans-serif;
}

.transparentblack {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.transparentpurple {
    background-color: rgba(65, 51, 101, 0.7);
    color: #E6E1F2;
}

.transparentwhite {
    background-color: rgba(255, 255, 255, 0.7);
    color: #04080F
}

.transparentwhite2 {
    background-color: rgba(255, 255, 255, 0.8);
    color: #04080F
}

/* --------------------------------------------------------- */
/* containers layout styles */

.container-fluid {
    padding: 60px 50px;
}

/* ========================================================= */


/* Navbar Style  */


.navbar {
    margin-bottom: 0;
    color: #02020B !important;
    background-color: #C1DFF0;
    z-index: 9999;
    border: 0;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
    font-family: Playfair Display, serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #02020B !important;
    background-color: #C1DFF0 !important;
}

.navbar-header .icon-bar {
    background-color: #C1DFF0 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #FFFFFF !important;
    background-color: #9BA7C0 !important;
}

.navbar-default .navbar-toggle {
    border-color: #C1DFF0;
    color: #C1DFF0 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FFFFFA' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* --------------------------------------------------------- */


/* social media hover colors */

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

/* --------------------------------------------------------- */

/* Footer */

.footer-glyphicon {
    color: #04080F;
    font-size: 2em;
    letter-spacing: 2em;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 200px;
    line-height: 20px;
    background-color: #C1DFF0;
}

a {
    color: #890620
}

a.scuba {
    color: #C6D4FF
}

a:hover {
    color: #B6465F
}

a.scuba:hover {
    color: cornflowerblue
}
